* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: linear-gradient(to right, #ff0000, #ffff00);
}

.table {
    margin: 10vh auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 1px 8px black;
    background-color: #1E1A3C;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
    padding: 20px 10px;
    opacity: 75%;
}


.box {
    text-align: center;
    flex-basis: 80%;
    line-height: 40px;
    margin-bottom: 10px;

}

.line {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

th.id, td.id {
    flex-basis: 20%;
    overflow: hidden;
}

th.title, td.title, label {
    flex-basis: 70%;
}

td.title {
    cursor: pointer;
    transition: .2s;
}

td.title:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
}

th, td {
    position: relative;
    background-color: #3E3364;
    border-radius: 12px;
    box-shadow: 0 0 2px black;
}


td.title svg {
    position: absolute;
    height: 20px;
    right: 30px;
    transform: translateY(50%);
}

.show-pwd {
    position: absolute;
    height: 2rem;
    width: 2rem;
    font-size: 1.3rem;
    top: 55%;
    right: 20%;
    background: transparent;
    border-style: none;
}

td.form {
    flex-basis: 80%;
}


input {
    box-sizing: border-box;
    width: 100%;
    background-color: #3E3364;
    border-radius: 12px;
    line-height: 40px;
    padding: 0 60px 0 10px;
    color: white;
}

button.submit {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    border: none;
    background-color: #3E3364;
    cursor: pointer;
    transition: .2s;
}

button.submit:hover {
    transform: translateY(-50%) scale(1.2);
}

td.title svg {
    transition: .2s linear;
}

td.title svg:hover {
    animation: rotate .2s linear;
}

td.logout {
    flex-basis: 40%;
}

button.login {
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    color: white;
    border-radius: 12px;
    background-color: #3E3364;
    cursor: pointer;
    transition: .2s;
    border-style: none;
    flex-basis: 40%;
}

button.confirm {
    line-height: 40px;
    text-decoration: none;
    color: white;
    border-radius: 12px;
    background-color: #3E3364;
    cursor: pointer;
    transition: .2s;
    border-style: none;
    flex-basis: 30%;
}

button.login:hover, button.confirm:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
}

@keyframes rotate {
    0% {
        transform: translateY(50%) rotate(25deg);
    }

    100% {
        transform: translateY(50%) rotate(-25deg);
    }

}
