
.not-found {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    background: #1E1A3C;
    box-shadow: 0 1px 8px black;
    border-radius: 12px;
    opacity: 75%;
}

.not-found-header {
    background: #3E3364;
    padding: 1rem;
}

.not-found-header h2 {
    margin: 0;
    color: white;
}

.not-found-content {
    padding: 1rem;
    color: white;
}

.not-found-actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .not-found {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}
