.deadlines {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    animation: slide-down 300ms ease-out forwards;
}

.text-center {
    position: absolute;
    color: white;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 5px;
    animation: slide-down 300ms ease-out forwards;
    animation-delay: 300ms;
    opacity: 0;
}

.highlight {
    color: white;
    background-color: #6f48eb;
    border-radius: 6px;
}

.react-calendar {
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.react-calendar__navigation button {
    color: #6f48eb;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}

abbr[title] {
    text-decoration: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #6f48eb;
    color: white;
    border-radius: 6px;
}

.react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #6f48eb;
}

.react-calendar__tile--active {
    background: #6f48eb;
    border-radius: 6px;
    /*font-weight: bold;*/
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #6f48eb;
}

.react-calendar__tile--range {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 0;
}

.react-calendar__tile--rangeStart {
    background: #6f48eb;
    color: white;
    border-radius: 6px;
}

.react-calendar__tile--rangeEnd {
    border-radius: 6px;
    background: #6f48eb;
    color: white;
}

@media (max-width: 768px) {
    .text-center {
        font-size: 1.5rem;
    }

    .deadlines {
        width: 80vw;
    }
}


