button.login {
    line-height: 40px;
    text-decoration: none;
    color: white;
    border-radius: 12px;
    background-color: #3E3364;
    cursor: pointer;
    transition: .2s;
    border-style: none;
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

input.login-data {
    box-sizing: border-box;
    width: 100%;
    background-color: #3E3364;
    border-radius: 11px;
    line-height: 40px;
    padding: 0 60px 0 10px;
    color: white;
    border: 2px solid #1E1A3C;
}

.show-pwd {
    position: absolute;
    height: 2rem;
    width: 2rem;
    font-size: 1.3rem;
    top: 55%;
    right: 20%;
    background: transparent;
    border-style: none;
}

button.login:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
}

a {
    color: white;
}

@media (max-width: 768px) {
    button.login {
        line-height: 30px;
        font-size: .7rem;
    }

    input.login-data {
        line-height: 30px;
        font-size: .7rem;
    }

    .show-pwd {
        height: 1.5rem;
        width: 1.5rem;
    }
}
